<#assign content>

<h1 style="position: absolute; margin-left: 50px;"
    >The winner is player ${winner}!</h1>

<a href="/play" style="position: absolute; margin-top: 200px;">Play again?</a>


</#assign>
<#include "main.ftl">

