/*To turn the div into a circle
width/height are diameter
webkit(chrome)/moz(firefox)/border-radius(everything else)
control the corner borders
*/
.circle{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

.board {
    font-family: Verdana,Helvetica;
    padding: 0;
    margin: auto;
    width: 400px;
    height: 400px;
    -webkit-user-select: none;
}
.board td {
    width: 50px;
    height: 50px;
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 1em;
    text-align: center;
    text-transform: capitalize;
}
#submitButtons {
    font-family: Verdana,Helvetica;
    padding: 0;
    margin: auto;
    width: 400px;
}
#submitButtons td {
    width: 10px;
    height: 10px;
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 1em;
    text-align: center;
    text-transform: capitalize;
}

.m, .w, .z {
  text-decoration: underline;
}

.board td.right {
    transform: rotate(-90deg);
}
.board td.left {
    transform: rotate(90deg);
}
.board td.up {
    transform: rotate(180deg);
}


